body,table,tr,td,img {
	margin: 0;
}

body,p,b,a,i,div,span,font {
	font-family: arial;
}

#mybody_wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

#mybody_2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#mybody {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url("../images/fondo1.jpg");
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
}

#mytop {
	width: 100%;
	background: green;
	height: 8px;
}

#mymaincontainer {
	max-width: 960px;
	margin: 0 auto;
}

#mymenu {
	background: Red;
}

#myheader {
	background: orange;
	margin: 0 0 20px 0;
}

#myfooter {
	bottom: 0;
	position: fixed;
	width: 100%;
	background: orange;
	margin: 20px 0 0 0;
	text-align: center;
}

#myfooter2 {
	max-width: 960px;
	background: red;
	margin: 0px auto 0 auto;
	padding: 10px;
	height: 10px;
}

#mycontent {
	width: 64.2%;
}
#mycontent_2{
	width: 400px;
	margin:0 auto;
	background-color:#ddddaa;
}

#mysidebarleft {
	width: 16.2%;
	background: yellow;
}

#mysidebarright {
	width: 16.2%;
	background: purple;
}

.myclear {
	clear: both;
}

input[type=text],input[type=email],input[type=search] {
	border-radius: 10px 0 0 10px;
}

input[type=submit] {
	border-radius: 0 10px  10px 0;
	background-color:rgba(0,0,0,0..2);
}

input {
	border: 1px #ddd solid;
}

/* ####### responsive layout CSS ####### */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1; /* For IE 6/7 */
}

 

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	#mysidebarleft, #mysidebarright, #mycontent { width: 100%; }
	#mysidebarleft{background-color:#eeaaaa;}
}
