.color_slogan
{
  color:#d1232a;
}

body,table,tr,td,img
{
  margin:0;
}

body,p,b,a,i,div,span,font
{
  font-family:arial;
}

img
{
  border:0;
  max-width:100%;
  border-radius:3px;
}

a
{
  color:#d1232a;
  text-decoration:none;
  padding:2px;
  border-radius:2px;
}

a:hover
{
  background-color:#d1232a;
  color:#fff;
}

#mybody_wrapper
{
  width:100%;
  height:100%;
  position:relative;
}

#mybody_2
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#mybody
{
  width:100%;
  height:100%;
  background-color:#D3D3D3;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  background-image:url(../images/fondo1.jpg);
  filter:alpha(opacity=30);
  -moz-opacity:0.3;
  -khtml-opacity:0.3;
  opacity:0.3;
}

#mytop
{
  width:100%;
  height:0;
}

#mymaincontainer
{
  border-top:3px #d1232a solid;
  width:960px;
  max-width:100%;
  margin:0 auto;
  min-height:93%;
  padding:10px 0 0;
  box-shadow:0 3px 13px #ddd;
  background-color:#FFF;
}

#myheader
{
  margin:0 0 20px;
}

#myfooter
{
  top:auto;
  position:relative;
  bottom:60px;
  height:30px;
  padding:0;
  width:100%;
  margin:20px 0 0;
  text-align:center;
}

#myfooter_2
{
  font-size:13px;
  background-color:#ddd;
  border-top:2px #d1232a solid;
  width:960px;
  max-width:100%;
  margin:0 auto;
  padding:10px 0;
  height:100%;
}

#mycontent
{
  width:64.2%;
}

#mycontent_2
{
  width:400px;
  margin:0 auto;
  background-color:#dda;
}

#mysidebarleft
{
  width:16.2%;
  background:#FF0;
}

#mysidebarright
{
  width:16.2%;
  background:purple;
}

input[type=text],input[type=email],input[type=search]
{
  border-radius:10px 0 0 10px;
}

input[type=submit]
{
  border-radius:0 10px 10px 0;
  background-color:rgba(0,0,0,0..2);
}

input
{
  border:1px #ddd solid;
}

.section
{
  clear:both;
  padding:0;
  margin:0;
}

.col
{
  display:block;
  float:left;
  margin:1% 0 1% 1.6%;
}

.col:first-child
{
  margin-left:0;
}

.group:before,.group:after
{
  content:"";
  display:table;
}

.group
{
  zoom:1;
}

ul#menu,ul#menu ul.sub-menu
{
  padding:0;
  margin:0;
}

ul#menu li,ul#menu ul.sub-menu li
{
  list-style-type:none;
  display:inline-block;
}

ul#menu li a,ul#menu li ul.sub-menu li a
{
  text-decoration:none;
  color:#999;
  background:#fff;
  padding:5px;
  display:inline-block;
  border-radius:0 10px 10px 0;
  font-size:12px;
}

.evidenzia
{
  background:#d1232a!important;
  color:#fff!important;
}

ul#menu li a:hover
{
  background:#d1232a;
  color:#fff;
}

ul#menu li
{
  position:relative;
}

ul#menu li ul.sub-menu
{
  display:none;
  position:absolute;
  top:30px;
  left:0;
  width:100px;
}

ul#menu li:hover ul.sub-menu
{
  display:block;
}

#logo
{
  height:100px;
}

.myclear,.group:after
{
  clear:both;
}

@media only screen and max-width 480px {
  .col
  {
    margin:1% 0;
  }
  
  #mysidebarleft,#mysidebarright,#mycontent
  {
    width:100%;
  }
  
  #mysidebarleft
  {
    background-color:#eaa;
  }
  
  #myfooter_2
  {
    font-size:11px;
  }
}
